.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/* this is a Nav styles*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-weight: bolder;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: antiquewhite;
}
/* banner styles*/
.banner-greetings{
    font-size: 45px;
    font-family: "Open Sans", sans-serif;
    color: #474747;
}
.banner-content{
    max-width: 585px;
    margin-left: 200px;
    margin-right: 37px;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    font-family: "Open Sans", sans-serif;
}
.banner-description {
    font-size: 18px;
    color: #757575;
}
.banner-profile-picture{
    width: 584px;
    height: 676px;
}

.banner{
    display: flex;
    justify-content: space-between;
    
     
}


/* shared styles*/
.text-primary{
    color: #FD6E0A;
    text-decoration: none;
}
.dark-2{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.dark-2:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
.btn-primary{
    background-color: #FD6E0A;
    padding: 10px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    width: 150px;
    font-size: 20px;
    font-weight: 20px;
}

/* about styles*/
.section-title{
    font-size: 35px;
    color: #181818; 
}
.about{
    margin: 130px 230px;
    border-radius: 10px;
    text-align: center;
    padding: 100px 100px;
    background-color: antiquewhite;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-title{
    color: #757575;
    font-size: 20px;
}
.item-description{
    color: #474747;
    font-size: 20px;
    font-weight: bold;
}

/* skills styles*/
.skill{
    padding: 15px;
    border: 0px solid transparent;
    border-radius: 5px;
    box-shadow:0 4px 20px rgba(0, 0, 0, 0.05);
    height: 377px;
    width: 267px;
    padding: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.skill:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2),
              0 0 15px rgba(0, 123, 255, 0.2);
  }

.skills-container{
    display: flex;
    gap: 24px;
}


.skill-title{
    font-style: 20px;
    color: #181818;
}
.skill-description{
    font-size: 16px;
    color: #757575;
    
}

.section-description {
    font-size: 18px;
    color: #757575;
    text-align:center;
}

.section-title {
    text-align: center;
}

/* main style*/
main{
    max-width: 1400px;
    margin: 0 auto;
}


/* resume styles*/

.resume{
    display: flex;
    gap: 71px;
}
.master-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}
.master-subject{
    color: #474747;
    font-size: 25px;
    font-weight: bold;
}
.master-university{
    font-size: 20px;
    color: #757575;
    font-weight: 600px;
}
.master-description{
    font-size: 16px;
    color: #757575;
}
.resume .education .master{
    padding: 20px;
    /*border-bottom: 0.5px solid #D1D1D1;*/
}
.full-resume{
    margin: 120px;
}
.btn{
    background-color: #FD6E0A;
    width: 200px;
    height: 64px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
}
.free{
    padding-right: 10px;
}
.btn-inside, .btn, .free{
    text-align: center;
}



/* footer styles*/
footer{
     padding: 130px 230px;
     display: flex;
     gap: 100px;
     background-color: antiquewhite;
}
.footer-column{
    width: 50%;
}
.footer-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
footer input[type="name"]{
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 20px;
}

footer input[type="password"]{
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 5px;
    display: block;
    margin-bottom: 20px;
    padding-left: 20px;
  
}
footer textarea[name="text"]{
    border: none;
    display: block;
    margin-bottom: 20px;
    width: 100%;
     padding-left: 20px;
}
footer input[type="submit"]{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 60px;
}


